/* 列表页面css */
.secKill {
    position: absolute;
    height: 32px;
    top: 40px;
    left: 185px;
    border-left: 1px solid #b1191a;
    padding: 5px 0 0 15px;
}

.secKill_list li {
    line-height: 45px;
    float: left;
    margin: 0 30px;
}

.secKill_list li a {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.secKill_list li a:hover {
    color: #c81523;
}

.secKill_con li {
    float: left;
    line-height: 45px;
    margin: 0 20px;
}

.secKill_con li a {
    font-size: 14px;
    font-weight: 700;
    font-family: "icomoon";
}

/* secKill 列表内容区域 */
.secKill_container_bd {
    margin-top: 25px;

}

.secKill_container_bd ul {
    width: 1212px;
}

.secKill_container_bd_goods {
    position: relative;
    overflow: hidden;
    float: left;
    width: 288px;
    height: 458px;
    border: 1px solid transparent;
    margin: 0 13px 15px 0;
    transition: all;
}

.secKill_container_bd_goods:hover {
    border: 1px solid #c12228;
}

.secKill_container_bd_goods img {
    padding: 1px 0 0 3px;
}

.secKill_container_bd_goods_title {
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    padding: 10px;
}

.secKill_container_bd_goods_price del {
    font-size: 14px;
    font-weight: 400;
    color: #a4a4a4;
}

.secKill_container_bd_goods_price {
    padding: 0 10px;
}

.secKill_container_bd_goods_price em {
    font-size: 22px;
    color: #e60012;
}

.secKill_container_bd_goods_progress {
    padding: 0 10px;
}

.secKill_container_bd_goods_progress em,
.secKill_container_bd_goods_progress i {

    color: #f24349;
}

.secKill_container_bd_goods_bar {
    width: 130px;
    height: 10px;
    border: 1px solid #b1191a;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    margin: -1px 5px 0px;
}

.secKill_container_bd_goods_bar1 {
    height: 10px;
    background-color: #b1191a;
    width: 87%;
    border: 1px #b1191a;
}

.secKill_container_bd_goods_bye {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #b1191a;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.page {
    margin: 40px 0;
    text-align: center;
}

.page_num a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #cccccc;
    background-color: #f7f7f7;
}

.page_num .page_num_prev,
.page_num .page_num_next {
    width: 83px;
}

.page_num .dotted,
.page_num .current {
    border: 1px solid transparent;
    background-color: transparent;
}

.page_skip input {
    width: 46px;
    height: 36px;
    border: 1px solid #cccccc;
    text-align: center;
    transition: all 0.3s;
}

.page_skip input:focus {
    width: 88px;
    border: 1px solid skyblue;
}

.page_skip button {
    height: 36px;
    width: 54px;
    border: 1px solid #cccccc;
    background-color: #f7f7f7;
}